//general page structure
.hero {
  text-align: center;
  padding: 2em 1em;

  height: 35em;
  @media screen and (min-width: $med-screen){
    height: 60em;
  }
}
.stripe {
  min-height: 42em;
  padding: 4em 3em;
}

//layout utility styles
.vertical-ctr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
}

// navigation
// based on http://codepen.io/bradfrost/pen/sHvaz
a.menu-link {
  display: block;
  padding: 1em;
  position: fixed;
  z-index: 1;
  width: 100%;
}
  nav[role=navigation] {
    clear: both;
    position: fixed;
    top: 3em;
    z-index: 1;
    width: 100%;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .js nav[role=navigation] {
    overflow: hidden;
    max-height: 0;
  }
  nav[role=navigation].active {
    max-height: 15em;
  }
  nav[role=navigation] ul {
    margin: 0;
    padding: 0;
  }
  nav[role=navigation] li a {
    display: block;
    padding: 0.8em;
  }

  @media screen and (min-width: $med-screen) {
    a.menu-link {
       display: none;
    }
    .js nav[role=navigation] {
      max-height: none;
      top: 0;
    }
    nav[role=navigation] ul {
      margin: 0 0 0 -0.25em;
      border: 0;
    }
    nav[role=navigation]  li {
      display: inline-block;
      margin: 0 0.25em;
    }
    nav[role=navigation] li a {
      border: 0;
    }
  }

//buttons and forms
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: block;
  text-align: center;
  padding: 0 1em;
  height: 2em;
  margin-bottom: 1em;
}
.search-btn {
  display: inline;
}

input[type="phone"],
input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
select {
  height: 2em;
  margin-bottom: 1em;
}
input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  max-width: 28em;
}
textarea {
  height: 5em;
  width: 100%;
  max-width: 50em;
  margin-bottom: 1em;
}
label,
legend {
  display: block;
  margin-bottom: 0.25em;
}
p.forgot {
  position: relative;
  top: -0.75em;
}
//
.advsearch{
  display: none;
  background-color: $faded-bgdcolor1;
  padding: 1em;
}
