@font-face {
  font-family: 'Quicksand';
  src: url("../../fonts/quicksand/Quicksand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url("../../fonts/quicksand/Quicksand-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url("../../fonts/bitter/Bitter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url("../../fonts/bitter/Bitter-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Colaborate';
  src: url("../../fonts/colaborate/ColabReg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Colaborate';
  src: url("../../fonts/colaborate/ColabBol.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../../fonts/lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

// icons
@font-face {
    font-family: 'icomoon';
    src:    url('../../fonts/icomoon/icomoon.eot?i8k9d2');
    src:    url('../../fonts/icomoon/icomoon.eot?i8k9d2#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon/icomoon.ttf?i8k9d2') format('truetype'),
        url('../../fonts/icomoon/icomoon.woff?i8k9d2') format('woff'),
        url('../../fonts/icomoon/icomoon.svg?i8k9d2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sad:before {
    content: "\e900";
}
.icon-sad2:before {
    content: "\e901";
}
.icon-wink:before {
    content: "\e902";
}
.icon-wink2:before {
    content: "\e903";
}
.icon-grin:before {
    content: "\e904";
}
.icon-grin2:before {
    content: "\e905";
}
.icon-cool:before {
    content: "\e906";
}
.icon-cool2:before {
    content: "\e907";
}
.icon-angry:before {
    content: "\e908";
}
.icon-angry2:before {
    content: "\e909";
}
.icon-blocked:before {
    content: "\e90a";
}
.icon-cross:before {
    content: "\e90b";
}
.icon-checkmark:before {
    content: "\e90c";
}
.icon-checkmark2:before {
    content: "\e90d";
}



